div.todaysTask {
	position: relative;
	background-color: var(--background1);
	height: 100vh;
}
div.todaysTask h3 {
	text-align: center;
}
div.todaysTask div.topBackground {
	padding-top: 90px;
	margin-bottom: 110px;
}
div.topBackground {
	display: flex;
	background: var(--gradient);
	flex-direction: column;
	justify-content: center;
	height: 120px;
}
div.topBackground > h3 {
	color: var(--text-title);
	padding: 20px;
}
div.topBackground > button.refreshBtn {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 6px;
	right: 10px;
	padding: 10px;
}
div.topBackground > div.infoBox,
div.topBackground > div.navigationBox > div.statsBox {
	background-color: var(--background0);
	width: 90%;
	margin: 15px auto;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}
div.topBackground > div.infoBox {
	margin: 0 auto 20px auto;
	display: flex;
	justify-content: space-between;
	padding: 0 5%;
	color: var(--text-primary);
}
div.topBackground > div.infoBox > div.dateBox {
	display: grid;
	grid-template-areas: "day day month month month"
                       "day day year  year  year"
                       "weekday weekday weekday weekday weekday";
	grid-template-rows: 28px 15px 1fr;
	padding: 5px 0 10px 0;
}
div.topBackground > div.infoBox > div.dateBox > p {
	display: block;
}
div.topBackground > div.infoBox > div.dateBox > p.day {
	font-weight: 700;
	font-size: 2.8rem;
	grid-area: day;
	height: 5%;
	padding-right: 4px;
}
div.topBackground > div.infoBox > div.dateBox > p.month {
	font-size: 0.95rem;
	grid-area: month;
	align-self: end;
	font-weight: 500;
}
div.topBackground > div.infoBox > div.dateBox > p.year {
	font-size: 0.95rem;
	grid-area: year;
}
div.topBackground > div.infoBox > div.dateBox > p.weekday {
	grid-area: weekday;
	align-self: start;
	font-size: 0.7rem;
	width: 50px;
	text-align: center;
}

div.topBackground > div.infoBox > div.statsBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}
div.topBackground > div.infoBox > div.statsBox > div.stats {
	display: flex;
	flex-direction: column;
	text-align: center;
}
div.topBackground > div.infoBox > div.statsBox > div.stats > p {
	color: var(--text-light);
	font-size: 0.8rem;
	transform: translateY(-2px);
}
div.topBackground > div.infoBox > div.statsBox > div.stats > p.num {
	font-weight: 500;
	font-size: 1.5rem;
	transform: translateY(2px);
}
div.topBackground > div.navigationBox {
	display: grid;
	grid-template-columns: 1fr 84px;
	grid-gap: 5px;
	width: 90%;
	margin: 0 auto;
	height: 40px;
}
div.topBackground > div.navigationBox > div.statsBox {
	display: grid;
	grid-template-columns: 1fr 70px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 5px;
	padding-right: 10px;
	justify-content: space-between;
}
div.topBackground > div.navigationBox > div.statsBox > p {
	color: var(--text-light);
	align-self: center;
	font-size: 0.75rem;
	margin-left: 5px;
}
div.topBackground > div.navigationBox > div.statsBox > p > span {
	font-size: 0.6rem;
	margin-left: 2px;
}
div.topBackground > div.navigationBox > div.statsBox > div {
	position: relative;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 5px;
	width: 100%;
}
div.topBackground > div.navigationBox > div.statsBox button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	background-color: var(--gradient-light);
	border: none;
	border-radius: 4px;
}
div.topBackground > div.navigationBox > div.statsBox button > svg path {
	stroke: var(--button-light-color);
}
div.topBackground > div.navigationBox > div.statsBox button > svg .light.fill{
	fill: var(--gradient-light);
}
div.topBackground > div.navigationBox > div.navBox {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
div.topBackground > div.navigationBox > div.navBox > button {
	display: block;
	background-color: var(--background0);
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
	width: 40px;
	border: none;
	color: var(--text-primary);
}
div.dateWrapper .react-calendar {
	border: none;
	background-color: var(--background0);
}
div.dateWrapper .react-calendar__navigation button {
	color: var(--calendar-primary);
}
div.dateWrapper .react-calendar__tile.react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--weekend):not(.react-calendar__month-view__days__day--neighboringMonth){
	color: var(--calendar-primary);
}
div.dateWrapper .react-calendar__month-view__days__day--weekend {
	color: var(--calendar-weekend);
}
div.dateWrapper .react-calendar__month-view__days__day--neighboringMonth {
	color: var(--calendar-date-light);
}
div.dateWrapper .react-calendar__navigation {
	margin-bottom: 0;
}
div.dateWrapper .react-calendar__navigation button {
	border-radius: 2px;
}
div.dateWrapper .react-calendar__navigation button:enabled:hover {
	background-color: var(--calendar-hover) !important;
}
div.dateWrapper .react-calendar__navigation button:enabled:focus {
	background-color: initial;
}
div.dateWrapper .react-calendar__month-view__days__day--neighboringMonth {
	color: var(--calendar-date-light);
}
div.dateWrapper .react-calendar__tile {
	border-radius: 2px;
}
div.dateWrapper > div.react-calendar .react-calendar__tile--active,
div.dateWrapper > div.react-calendar .react-calendar__tile--active:enabled:hover,
div.dateWrapper > div.react-calendar .react-calendar__tile--active:enabled:focus {
	background: var(--primary0) !important;
}
div.dateWrapper .react-calendar__tile:enabled:hover {
	background-color: var(--calendar-hover) !important;
}
div.dateWrapper .react-calendar__tile--now {
	background-color: var(--secondary-light);
}
div.todaysTask > div.taskContainer > div.taskColumn > p {
	text-align: center;
}
