div.taskContent {
	position: relative;
	display: grid;
	grid-template-columns: 40px 1fr 55px;
	grid-gap: 5px;
	border-radius: 3px;
	padding: 3px;
	margin-bottom: 12px;
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}
div.taskContent > input[type="checkbox"] {
	margin: 5px;
	opacity: 0;
	cursor: pointer;
}
div.taskContent > input[type="checkbox"] + *::before {
	content: "";
	position: absolute;
	pointer-events: none;
	font-size: 1.2rem;
	text-align: center;
	color: #ffffff;
	left: 10px;
	top: 10px;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #F6F6F6;
	border-radius: 50%;
	border: 1px solid #707070;
	transition: background-color 0.5s ease;
	padding-left: 2px;
	box-sizing: border-box;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
div.taskContent > input[type="checkbox"]:checked + *::before {
	content: "✓";
	background-color: #E39DF9;
	border-color: #CB78E5;
}
div.taskContent > input[type="checkbox"]:checked + * {
	color: #acacac;
	text-decoration: line-through;
}
div.taskContent > p {
	font-size: 0.95rem;
	padding: 10px;
	padding-left: 0;
}
div.taskContent > div {
	display: grid;
	grid-template-columns: 1fr 4px 4px;
	align-items: center;
	grid-gap: 5px;
}
div.taskContent > div > button {
	font-size: 1.2rem;
	text-align: center;
	width: 90%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	transform: translateX(10px);
	border: none;
}
div.taskContent > div > div {
	/* background-color: rgba(0,0,0,0); */
	background-color: tomato;
	height: 50%;
	width: 100%;
	justify-self: flex-end;
	transform: translateX(3px);
}
div.taskContent.dragging {
	background-color: lightgreen;
}

div.taskContent:last-child {
	margin-bottom: 30px;
}

div.taskContent.noCheck {
	grid-template-columns: 1fr 55px;
}
div.taskContent.noCheck > p {
	padding-left: 8px;
}
div.taskContent.noCheck > input[type="checkbox"],
div.taskContent.noCheck > input[type="checkbox"] + *::before {
	display: none;
}
div.taskContent.noCheck > div {
	grid-template-columns: 4px;
	justify-content: flex-end;
}
div.taskContent.noCheck > div > div.timeStatus,
div.taskContent.noCheck > div > button {
	display: none;
}
div.taskContent.showDeleteBtn > div > button {
	display: block;
}
div.taskContent.showDeleteBtn > div {
	grid-template-columns: 1fr;
	justify-content: flex-end;
}
div.taskContent.noCheck.showDeleteBtn > div {
	grid-template-columns: 1fr 4px;
}
div.taskContent > div.bigTag { 
	position: relative;
}
div.taskContent > div.bigTag > button {
	position: relative;
	z-index: 1;
}
div.taskContent > div.bigTag > div.tagColor {
	position: absolute;
	width: 100%;
	height: calc(100% + 6px);
	z-index: 0;
	border-radius: 0 3px 3px 0;
}
