div.transitionWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #896296;
	z-index: 9002;
	pointer-events: none;
	transition: opacity .4s;
}
div.transitionWrapper.hidden {
	opacity: 0;
}
div.transitionWrapper > div.circle {
	width: 100px;
	height: 100px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 50%;
	animation: 1s linear 0s infinite transitionAnimation1;
}
div.transitionWrapper > div.circle::before,
div.transitionWrapper > div.circle::after {
	content: "";
	display: block;
	width: 130px;
	height: 130px;
	position: absolute;
	top: -15px;
	left: -15px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 50%;
	animation: 1s linear 0s infinite transitionAnimation2;
}
div.transitionWrapper > div.circle::before {
	width: 150px;
	height: 150px;
	top: -25px;
	left: -25px;
	background-color: rgba(255,255,255,0.1);
	animation: 1s linear 0s infinite transitionAnimation3;
}
@keyframes transitionAnimation1 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes transitionAnimation2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes transitionAnimation2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 80px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
