div.taskContainer {
	width: 90%;
	height: 55%;
	margin: 8px auto;
	overflow-y: scroll;
	overflow-x: hidden;
}
div.taskContainer.overflow {
	padding-right: 16px;
}
div.taskContainer > div.taskColumn {
	transition: background-color 0.5s ease;
}
div.taskContainer > div.taskColumn.dragging {
	background-color: skyblue;
}
