div.taskContainer {
	width: 90%;
	height: 55%;
	margin: 8px auto;
	overflow: scroll;
}
div.taskContainer > div.taskColumn {
	transition: background-color 0.5s ease;
}
div.taskContainer > div.taskColumn.dragging {
	background-color: skyblue;
}
