div.eventBlocker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}
div.eventBlocker.back {
	z-index: 9001;
}
div.eventBlocker.shown {
	pointer-events: all;
}
div.popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	color: var(-background0);
	justify-content: center;
	align-items: center;
	z-index: 9001;
	transform: translateX(100%);
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	pointer-events: none;
}
div.popup:not(.fullscreen) {
	transform: translateX(0);
	opacity: 0;
	transition: opacity 1s ease;
}
div.popup > h1.title {
	position: absolute;
	top: 25px;
	left: 50%;
	color: var(--text-title);
	transform: translateX(-50%);
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
}
div.popup div.inputWrapper label,
div.popup div.multipleSelectWrapper label {
	color: var(--text-label);
}
div.popup > button.closeBtn {
	display: none;
	color: var(--button-light);
	width: 50px;
	height: 25px;
	background-color: rgba(0,0,0,0);
	border: none;
}
div.popup.fullscreen {
	background-color: var(--secondary-dark);
	transition: transform 1s ease;
}
div.popup.fullscreen > button.closeBtn {
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
}
div.popup.shown {
	transform: translateX(0);
	opacity: 1;
	pointer-events: all;
}
div.popup label {
	color: var(--text-label);
}
div.popupWrapper {
	display: flex;
	padding: 16px 12px;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background0);
	width: 85%;
	max-width: 320px;
	border-radius: 10px;
	color: var(--label-dark);
}
div.popupWrapper.center {
	text-align: center;
}
div.popupWrapper h1 {
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--label-dark);
	padding: 8px;
}
div.popupWrapper > h1.title {
	font-weight: 700;
	color: var(--popup-title);
}
div.popupWrapper button.btn {
	margin-top: 12px;
}
